# Solana Config (DEVNET)
SOLANA_NETWORK=devnet
TREASURY_PRIVATE_KEY=your_base58_private_key_here
DOGEE_TOKEN_MINT=your_dogee_token_mint_address_here

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dogee

# Server
PORT=4000
FRONTEND_URL=http://localhost:3000

# Admin
ADMIN_SECRET=your_strong_admin_password_here
